<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application users</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-dark text-white" style="padding-top: 80px; margin: 30px">
<nav class="navbar p-3 mb-2 fixed-top navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="users-solid.svg" alt="" width="48" height="48">
            Application users
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<table class="table text-white">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Birth Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iter : ${users}">
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.birthDate}"></td>
    </tr>
    </tbody>
</table>
<div class="col-12" style="margin-top: 15px; float: right; text-align: right">
    <a th:href="@{new}" class="btn btn-primary" type="submit"
       style="color: black; background-color: #acc6aa; border: none">
        <img src="user-plus-solid.svg" alt="" width="16" height="16"> Add user
    </a>
</div>
</body>
</html>